.custom-select-container {
    position: relative;
    display: grid;
    width: max-content;
    min-width: 80px;
    max-width: 100%;
    grid-template-areas: "select";
}

.custom-select-button {
    display: flex;
    gap: 16px;
    align-items: center;
    width: 100%;
    padding: 12px 12px;
    border: 1px solid var(--beige-500);
    border-radius: 0.25rem;
    background-color: white;
    cursor: pointer;
    grid-area: select;
    justify-content: space-between;
}

.custom-select-option-list {
    position: absolute;
    top: 100%;
    left: 0;
    border-radius: 8px;
    background-color: var(--white);
    list-style: none;
    padding: 12px 12px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    max-height: 200px;
    overflow-y: auto;
    flex-direction: column;
    gap: 12px;
    grid-area: select;
    width: max-content;
    min-width: 100%;
    padding: 12px 20px;
}

.custom-select-container ::-webkit-scrollbar {
    display: none;
}

.custom-select-ruler {
    grid-area: select;
    visibility: hidden;
    padding: 12px 12px;
    display: flex;
    gap: 16px;
}

.custom-select-ruler::before {
    content: "";
    width: 16px;
    height: 16px;
    flex-shrink: 0;
}
