.sidebar {
    display: flex;
    flex-direction: column;
    background: var(--grey-900);
    position: relative;
    height: 100vh;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    gap: 24px;
}

.sidebar-menu {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-right: 24px;
}

.sidebar-menu-object {
    min-height: 56px;
    display: flex;
    gap: 16px;
    padding: 16px 32px;
    text-decoration: none;
    color: var(--grey-300);
    align-items: center;
}

.sidebar-logo {
    padding: 40px 32px;
    width: fit-content;
}

.sidebar-icon {
    width: 24px;
    height: 24px;
    min-width: 18px;
    min-height: 18px;
}

.bottom-nav {
    display: flex;
    background: var(--grey-900);
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    position: fixed;
    width: 100vw;
    bottom: 0;
    padding: 8px 16px 0 16px;
}

.nav-menu-bottom {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.nav-menu-object-bottom {
    padding: 8px 0;
    min-height: 56px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 104px;
    text-decoration: none;
    color: var(--grey-300);
    justify-content: center;
    align-items: center;
}

.nav-menu-object-bottom:hover {
    color: var(--grey-100);
}

.sidebar-menu-object:hover {
    color: var(--grey-100);
}

.sidebar-menu-object:hover .sidebar-icon,
.nav-menu-object-bottom:hover .sidebar-icon {
    color: var(--grey-100);
}

.sidebar-menu-object.active,
.nav-menu-object-bottom.active {
    color: var(--grey-900);
    background: var(--white);
}

.sidebar-menu-object.active {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-left: var(--green) solid 4px;
}

.nav-menu-object-bottom.active {
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    border-bottom: var(--green) solid 4px;
}

.sidebar-menu-object.active .sidebar-icon,
.nav-menu-object-bottom.active .sidebar-icon {
    color: var(--green);
}
